{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Your Results
    </div>

    <div class="foldableList">
        {% for c in categories %}
            <details open="open">
                <summary>{{ c.name }}</summary>

                <table class="foldableListTable">
                    <thead>
                    <tr>
                        <th style="width: 50%; height: 45px">Exam</th>
                        <th style="width: 15%; text-align: center">Result</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ue in userExams %}
                        {% if  ue.exam.questions is not empty or ue.exam.isRandomExam %}
                            {% if c.id == ue.exam.category.id %}
                                <tr>
                                    <td>{{ ue.exam.name }}</td>
                                    <td style="text-align: center">{% if ue.result is null %}N/A{% else %}{{ ue.result }} %{% endif %}</td>
                                    {% if ue.result is not null %}
                                        <td>
                                            <input style="width: 80px" type="button" class="editButton" onclick="location.href='{{ path('detailedExamResult', {'userExamId': ue.id}) }}';" value="Details"/>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}