{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Your Pending Exams
    </div>

    <div class="questionList">
        {% for c in categories %}
            <details open="open">
                <summary>{{ c.name }}</summary>

                <table class="questionListTable">
                    <thead>
                    <tr>
                        <th style="width: 70%; height: 45px">Exam</th>
                        <th>Questions</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in userExams %}
                        {% if c.id == e.exam.category.id %}
                            <tr>
                                <td>{{ e.exam.name }}</td>
                                <td style="text-align: center">{{ e.exam.questions | length }}</td>
                                <td>
                                    <input style="width: 90px" type="button" class="takeExamButton" onclick="location.href='{{ path('takeExam', {'userExamId': e.id}) }}';" value="Take Exam" />
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}