{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Your Pending Exams
    </div>

    <div class="foldableList">
        {% for c in categories %}
            <details open="open">
                <summary>{{ c.name }}</summary>

                <table class="foldableListTable">
                    <thead>
                    <tr>
                        <th style="width: 70%; height: 45px">Exam</th>
                        <th>Questions</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in userExams %}
                        {% if  e.exam.questions is not empty or e.exam.isRandomExam %}
                            {% if c.id == e.exam.category.id %}
                                <tr>
                                    <td>{{ e.exam.name }}</td>
                                    <td style="text-align: center">{% if e.exam.isRandomExam %}random{% else %}{{ e.exam.questions | length }}{% endif %}</td>
                                    <td>
                                        <input style="width: 90px" type="button" class="takeExamButton" onclick="location.href='{{ path('takeExam', {'userExamId': e.id}) }}';" value="Take Exam"/>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}