{% extends 'baseLoggedIn.html.twig' %}

{% block content %}

    <div class="caption">
        Choose the students to take your exam.
    </div>

    <div class="actionFieldTop">
        Check or uncheck the boxes next to the students' names.
    </div>

    <div class="editQuestionForm">
        <table class="listStudentsTable" id='exam' data-id="{{ examId }}">
            <tbody>
            {% for s in students %}
                <tr>
                    <td style="width: 50px"><input type="checkbox" data-id="{{ s.id }}" class="selectStudentCheckBox" /></td>
                    <td>{{ s.firstname }} {{ s.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="addStudentsToExamButton">Submit</button>
    </div>
{% endblock %}