{% extends 'baseLoggedIn.html.twig' %}

{% block content %}


    <div class="caption">
        Create a New Question
    </div>

    <div class="actionFieldTop">
        Please, complete the form below.
    </div>

    <div class="editQuestionForm">
        <p>
            Question Text:<br>
            <input type="text" class="standardTextInput" id="questionText" />
        </p>
        <p>
            Select a category:<br>
            <select id="categoryList">
                {% for c in categories %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </p>
        <ul id="appendedAnswers">

        </ul>
        <p>
            <button class="addAnswerToQuestionButton">Add Answer</button>
        </p>
        <p>
            <button class="createQuestionButton">Save</button>
        </p>
    </div>
{% endblock %}