{% extends 'baseLoggedIn.html.twig' %}

{% block content %}

    <div class="caption">
        Create a new Question
    </div>

    <div class="actionFieldTop">
        Please, complete the form below.
    </div>

    <div class="createQuestionForm">
        {{ form_start(addNewQuestionForm) }}
        {{ form_widget(addNewQuestionForm) }}
        {{ form_end(addNewQuestionForm) }}
    </div>


{% endblock %}