:root {
    --light-grey: #FAFAFA;
    --intense-blue: #76C7F2;
    --light-blue: #D1E5F9;
    --orange: #FFBCB7;
    --dark-orange: #E8ABA7;
    --yellow: #FFF7D1;
    --turquoise: #D8FFFA;
    --dark-grey: #444;
    --font-hover: #000;
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-grey);
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark-grey);
}

.login-box h1{
    font-size: 40px;
    border-bottom: 3px solid var(--intense-blue);
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid var(--intense-blue);
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: var(--dark-grey);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: var(--intense-blue);
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.orangeButton {
    width: 170px;
    background: var(--orange);
    border: 1.5px solid var(--dark-grey);
    color: var(--dark-grey);
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
    font-weight: bold;
}

.orangeButton:hover {
    background: var(--dark-orange);
}

.smallOrangeButton {
    width: 70px;
    background: var(--orange);
    border: 1.5px solid var(--dark-grey);
    color: var(--dark-grey);
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
    font-weight: bold;
}

.smallOrangeButton:hover {
    background: var(--dark-orange);
}

.logo {
    max-height: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

    position: relative;
}

nav a {
    color: var(--dark-grey);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: var(--font-hover);
}


.caption {
    height: 70px;
    display: flex;
    margin-left: 110px;
    padding-top: 30px;
    color: var(--dark-grey);
    font-size: 40px;
}

.actionFieldTop {
    height: 50px;
    margin-left: 110px;
    padding-top: 5px;
}

summary {
    font-size: 20px;
    cursor: pointer;
    margin: 10px 10px 0 0 ;
}

.questionList {
    margin-left: 110px;
    padding-top: 30px;
}

.questionListTable {
    width: 90%;
}

.questionListTable thead {
    height: 50px;
    text-align: left;
    font-size: 18px;
}

.questionListTable td {
    height: 30px;
    padding: 5px 5px 0 0;
    text-align: left;
}
