{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div align="center">
        <h3>Welcome to ExamIt</h3>

        <p>
            Hello {{ activeUser.firstname }},<br>check your pending exams.
        </p>
    </div>
{% endblock %}