{% extends 'base.html.twig' %}

{% block body %}


    <div>
        <h3>Please login to Exam</h3>
    </div>

    <div>
        <form action="{{ path('login') }}" method="POST">
            Username: <input type="text" id="username" name="_username" /><br>
            Password: <input type="password" id="password" name="_password" /> <br>

            <button type="submit">Login</button>
        </form>
    </div>

{% endblock %}