{% extends 'base.html.twig' %}

{% block body %}
<header>
    <div class="container">

        <img src="logo.png" alt=logo" class="logo">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Test</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}